body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
}

header {
    background: #50b3a2;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px 0;
    background: #f0f0f0;
}

.hero h1 {
    font-size: 28px;
    margin: 20px 0;
}

.hero .sun {
    font-size: 100px;
}

.cta-button {
    background: #50b3a2;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;
}

#features {
    padding: 20px;
    text-align: center;
    background: #f0f0f0;
}

.feature {
    margin: 10px 0;
    padding: 20px;
    background-color: rgba(80, 179, 162, 0.2);
}

.feature .emoji {
    display: block;
    font-size: 75px;
    margin: 10px auto;
}

#pricing h2 {
    text-align: center;
    background: #f0f0f0;
    padding: 20px;
    margin: 0;
}

.pricing-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 20px;
}

.plan {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.plan ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.bullet-point, .arrow-point {
    color: green;
    margin-right: 5px;
}

footer {
    background: #50b3a2;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}
