:root {
  --gradient-color-rgb: 200, 220, 240;
  --gradient-color: rgba(var(--gradient-color-rgb), 1);

  --main-bg-color-rgb: 224, 247, 250; /* light cyan
  /* --main-bg-color-rgb: 224, 242, 241;  /* light mint green */
  /* --main-bg-color-rgb: 245, 245, 220; /\*soft beige *\/ */
  --main-bg-color: rgba(var(--main-bg-color-rgb), 1);

  --secondary-bg-color-rgb: 80, 162, 179;
  --secondary-bg-color: rgba(var(--secondary-bg-color-rgb), 1);

  --feature-bg-color-rgb: 80, 162, 179;
  --feature-bg-color: rgba(var(--feature-bg-color-rgb), 1);

  --main-text-color-rgb: 255, 255, 255;
  --main-text-color: rgba(var(--main-text-color-rgb), 1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
}

header {
    background: var(--secondary-bg-color);
    color: var(--main-text-color);
    padding: 42px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

nav {
    line-height: 26px;
}

nav a {
    color: var(--main-text-color);
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    background-image: url("img/hero_ai.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

.hero-inner {
    background: linear-gradient(rgba(var(--main-bg-color-rgb), 0.3),
                                rgba(var(--main-bg-color-rgb), 0.3),
                                rgba(var(--main-bg-color-rgb), 0.99));
    padding: 120px 0;
}

.hero h1 {
    font-size: 48px;
    margin: 40px 0; /* Equal spacing */
    padding-bottom: 20px;
    font-weight: normal;
}

.best-llm {
    box-shadow: inset 0 0 0 1000px rgba(var(--main-bg-color-rgb), 0.64);
    background-image: url("img/kamino.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}


.cta-button {
    background: var(--secondary-bg-color);
    color: var(--main-text-color);
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;
}

#features {
    background-color: var(--main-bg-color);
}

.feature:nth-child(even) {
    background-color: var(--secondary-bg-color);
}

.feature:nth-child(odd) {
    padding: 18px 0;
}

.feature-customized {
    background-image: linear-gradient(to right,
                                      rgba(var(--feature-bg-color-rgb), 0.2),
                                      rgba(var(--feature-bg-color-rgb), 0.2),
                                      rgba(var(--feature-bg-color-rgb), 0.2),
                                      rgba(var(--feature-bg-color-rgb), 1)),
                      url("img/Guilloud_56_flipped.png");
    background-size: cover;
}

.feature-installation {
    background-image: linear-gradient(to left,
                                      rgba(var(--feature-bg-color-rgb), 0.2),
                                      rgba(var(--feature-bg-color-rgb), 0.2),
                                      rgba(var(--feature-bg-color-rgb), 0.2),
                                      rgba(var(--feature-bg-color-rgb), 1)),
                      url("img/Faro_4122.png");
    background-size: cover;
}


.feature div.feature-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.feature-container > div {
    width: 50%;
    padding: 48px 0;
}

.feature {
    margin: 0;
    padding: 0;
    text-align: center;
}

.feature > div {
    margin: 10px 0;
    padding: 20px;
}

.feature .emoji {
    display: block;
    font-size: 75px;
    margin: 10px auto;
}

h2 {
    text-align: center;
}

#features h2 {
    padding: 20px;
}

#pricing, #pricing h2 {
    background: var(--main-bg-color);
    padding: 20px;
    margin: 0;
}

.pricing-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 960px) {
  .pricing-plans {
      flex-direction: column; /* Switches to vertical below 960px */
      align-items: center;
  }

  .feature .feature-container {
      flex-direction: column; /* Switches to vertical below 960px */
      align-items: center;
  }

  .feature .feature-container > div {
          width: 100%;
  }

  .feature .feature-container > div.feature-customized,
  .feature .feature-container > div.feature-installation {
      padding: 108px 0;
  }


  .pricing-plans .plan {
      width: 85%;
  }
}

.plan {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.plan ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.bullet-point, .arrow-point {
    color: green;
    margin-right: 5px;
}

footer {
    background: var(--secondary-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
}
